.w-35-center {
    margin: 0 auto;
    width: 35%;
}

.pointer {
    cursor: pointer;
}

.display-text {
    height: 150px;
}

.link:active, .link:visited, .link:hover {
    color: #212529;
    text-decoration: none;
}

